[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
requests = "*"
apscheduler = "*"
fastapi = {extras = ["standard"], version = "*"}
bs4 = "*"
openpyxl = "*"
xlrd = "*"
torch = {version = ">=2.5.0", index = "pytorch-cpu"}
sentence-transformers = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
